@font-face {
    font-family: rejoy;
    src: url(./Fonts/Rejouice-Headline.ttf);
}
@font-face {
    font-family: nb;
    src: url(./Fonts/NBInternationalProBoo.ttf);
}
::selection{
    color: #ff5f38;
    background-color: #ffffff28;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "nb";
}

html, body{
    height: 100%;
    width: 100%;
    background: #faf8f3;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(175, 170, 170);
    position: relative;
}
.cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
.cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;

}
.page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.425); */
    z-index: 10;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: blueviolet; */
    justify-content: space-between;
    padding: 3vw 3vw;
}

nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}

nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
.page1-content h1{
    font-family: rejoy;
    font-size: 27vw;
    font-weight:100 ;
    line-height: 27vw;
    
}
.page1-content h1 span{
    font-family: rejoy;
    display: inline-block;
}

#fullscreen-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;  
    opacity: 0;   
    z-index: 99;
  }
  #bgVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #close-button {
    color: #FAF8F3;
    position: absolute;
    top: 40px;
    right: 80px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 50px;
    cursor: pointer;
    z-index: 1001; /* Ensure button is above the video */
  }

.page2 {
    height: 100vh;
    width: 100%;
    background: #FAF8F3;
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
}

.page2 .nav {
    display: flex;
    padding: 2.8vw;
    padding-bottom: 1vw;
    height: 21vh;
    width: 100%;
    align-items: end;
    overflow: hidden;
    justify-content: space-between;
}

hr {
    width: 94.4vw;
    margin: 0 auto;
    justify-content: center;
}

.page2 .nav .elem h1 {
    align-items: baseline;
    font-family: nb;
    font-size: 1.67vw;
    font-weight: 100;
}

.page2 .heading {
    padding: 2.8vw;
}

.page2 .heading h1 {
    font-size: 4.2vw;
    font-weight: 500;
}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}

.page3-top{
    text-align: center;
}

.page3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}
.page3-top h4 span{
    font-size: 0.7vw;
    background-color: #000;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}


.page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

.page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
}
.page3-elements .box{
    height: 100%;
    width: 32.5%;
    /* background-color: blue; */
    position: relative;
}

.page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.7s;
}
.page3-elements .box:hover img{
    opacity: 0;
}

.page4{
    height: 100vh;
    width: 100vw;
    background-color: #faf8f3;
    position: relative;
    margin-bottom: 10vh;
    margin-top: 0;
    
}
.page4 video{
    position: absolute;
    height: 120%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page4 svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75%;
}
.page4 .cursor2{
    height: 7vw;
    width: 7vw;
    background-color: #000;
    position: fixed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 60;
}
.cursor2 h5{
    color: #fff;
    font-weight: lighter;
    font-size: 1.3vw;
}
.page4 .page4-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.page4 .page4-text .seat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.page4 .page4-text span{
    font-size: 30px;
}
.page4 .page4-text .seat h2{
    font-size: 5vw;
    font-weight: lighter;
    letter-spacing: -1.5px;
}
.page4 .page4-text .seat .seat-span{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:80px;
    overflow: hidden;
    z-index: 999;
}
.page4 .page4-text .seat .seat-span:hover h2{
    transform: translateY(-400%);
    transition: transform 1s ease-in-out;

}

.page5{
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
}
.page5 h1{
    font-size: 10vw;
    font-family: rejoy;
    font-weight: 100;
    border-bottom: 1px solid black;
    width: 96%;
    margin-left: 3%;
}
.swiperdiv {
    height: 60vh;
    width: 110%;
    position: relative;
    margin-top: -185px;
}

.swiper {
    width: 110%; /* Adjust width to make the images fit better */
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.swiper-slide img {
    height: auto;
    width: 43vh; 
    object-fit: cover; 
    display: block;
}

.page7{
    height: 100vh;
    width: 100vw;
    background-color: #faf8f3;
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto;
    padding: 2vw;
}
.page7 .page7-top{
    height: 100px;
    width: 100vw;
    padding: .6vw 3vw;
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.page7 .page7-top h3{
    font-size: 1.7vw;
    font-weight: lighter;
    letter-spacing: -.5px;
    color: #141414;
}
.page7 .page7-top .top-text{
    overflow: hidden;
}
.page7 .page7-top-border{
    height: 1px;
    width: 0vw;
    margin: .6vw 3vw;
    background-color: rgb(71, 71, 71);
}
.page7 .page7-bottom{
    height: 505px;
    width: 100vw;
    overflow: hidden;
    text-align: left;;
}
.page7 .page7-bottom .btm-text{
    padding: 2vw 2vw;
    overflow: hidden;
}
.page7 .page7-bottom .btm-text h2 .up {
    overflow: hidden;
}
.page7 .page7-bottom .btm-text h2 span{
    font-size: 4.3vw;
    font-weight: lighter;
    line-height: 1;
    letter-spacing: -1px;
    
    overflow: hidden;
}

.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
}

.loader h3{
    font-size: 2vw;
    font-family: rejoy;
}
footer{
    height: 100vh;
    width: 100vw;
    background-color:#0E0E0E;
}
footer .footer-top{
    height: 65vh;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-top .first{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15vw;
    padding: 2.5vw;
    color: #fff;
}
.footer-top .first .first-top h2{
    font-weight: lighter;
    letter-spacing: -.5px;
}
.footer-top .first .first-top button{
    padding:  15px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 1.1vw;
    font-weight: lighter;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease;
}
.footer-top .first .first-top button:hover{
    background-color: #fff;
    color: #000;
}
.footer-top .first .first-btm h4{
    font-weight: lighter;
}
.footer-top .second{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: -2.5vw;
    padding-right: 3vw;
    color: #fff;
}
.second .second-one{
    display: flex;
    flex-direction: column;
    gap: 15vw;
}
.second .second-one .span span{
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.second .second-two .span1{
    position: relative;
    cursor: pointer;
}
.second .second-one .span1{
    position: relative;
    cursor: pointer;
}
footer .footer-bottom{
    height: 35vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
footer .footer-bottom h1 span{
    display: inline-block;
   font-size: 19vw;
   margin-top: -1vw;
   color: #fff;
   font-family: rejoy;
}


 /* I forgot numbering while doing (lol) ,the page no is no continous */